<a href="https://colab.research.google.com/github/yzhan247/IST-687-R-Syracuse-University/blob/main/HW2_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro to Data Science - HW 2

##### Copyright 2022, Jeffrey Stanton, Jeffrey Saltz, and Jasmina Tacheva

In [1]:
# Enter your name here: Yuqing Zhang

### Attribution statement: (choose only one and delete the rest)

In [2]:
# 1. I did this homework by myself, with help from the book and the professor.

### Reminders of things to practice from last week: 
Assignment arrow:  		<- <br>
The combine command: 	c( ) <br>
Descriptive statistics: 	mean( ) sum( ) max( ) <br>
Arithmetic operators:		+ - * /<br>
Boolean operators:		>    <    >=    <=   ==   !=  <br>

**This Week:** Explore the **quakes** dataset (which is included in R). 


<br>
<br>

**Step 0:** Prepare the data <br>
A. Copy the **quakes** dataset into a new dataframe (call it **myQuakes**), so that if you need to start over, you can do so easily (by copying **quakes** into **myQuakes** again). Summarize the variables in **myQuakes** using an R command. Also, explore the structure of the dataframe - using another R command. In a brief comment, describe what this dataset is about based on your analysis of the variables in it.

In [9]:
myQuakes<-quakes
myQuakes

     lat    long   depth mag stations
1    -20.42 181.62 562   4.8 41
2    -20.62 181.03 650   4.2 15
3    -26.00 184.10  42   5.4 43
4    -17.97 181.66 626   4.1 19
5    -20.42 181.96 649   4.0 11
6    -19.68 184.31 195   4.0 12
7    -11.70 166.10  82   4.8 43
8    -28.11 181.93 194   4.4 15
9    -28.74 181.74 211   4.7 35
10   -17.47 179.59 622   4.3 19
11   -21.44 180.69 583   4.4 13
12   -12.26 167.00 249   4.6 16
13   -18.54 182.11 554   4.4 19
14   -21.00 181.66 600   4.4 10
15   -20.70 169.92 139   6.1 94
16   -15.94 184.95 306   4.3 11
17   -13.64 165.96  50   6.0 83
18   -17.83 181.50 590   4.5 21
19   -23.50 179.78 570   4.4 13
20   -22.63 180.31 598   4.4 18
21   -20.84 181.16 576   4.5 17
22   -10.98 166.32 211   4.2 12
23   -23.30 180.16 512   4.4 18
24   -30.20 182.00 125   4.7 22
25   -19.66 180.28 431   5.4 57
26   -17.94 181.49 537   4.0 15
27   -14.72 167.51 155   4.6 18
28   -16.46 180.79 498   5.2 79
29   -20.97 181.47 582   4.5 25
30   -19.84 182.37 328   4.4 17
⋮    ⋮      ⋮      ⋮     ⋮   ⋮
971  -25.79 182.38 172   4.4  14
972  -23.75 184.50  54   5.2  74
973  -24.10 184.50  68   4.7  23
974  -18.56 169.05 217   4.9  35
975  -23.30 184.68 102   4.9  27
976  -17.03 185.74 178   4.2  32
977  -20.77 183.71 251   4.4  47
978  -28.10 183.50  42   4.4  17
979  -18.83 182.26 575   4.3  11
980  -23.00 170.70  43   4.9  20
981  -20.82 181.67 577   5.0  67
982  -22.95 170.56  42   4.7  21
983  -28.22 183.60  75   4.9  49
984  -27.99 183.50  71   4.3  22
985  -15.54 187.15  60   4.5  17
986  -12.37 166.93 291   4.2  16
987  -22.33 171.66 125   5.2  51
988  -22.70 170.30  69   4.8  27
989  -17.86 181.30 614   4.0  12
990  -16.00 184.53 108   4.7  33
991  -20.73 181.42 575   4.3  18
992  -15.45 181.42 409   4.3  27
993  -20.05 183.86 243   4.9  65
994  -17.95 181.37 642   4.0  17
995  -17.70 188.10  45   4.2  10
996  -25.93 179.54 470   4.4  22
997  -12.28 167.06 248   4.7  35
998  -20.13 184.20 244   4.5  34
999  -17.40 187.80  40   4.5  14
1000 -21.59 170.56 165   6.0 119

**Step 1:** Explore the earthquake magnitude variable called **mag**  <br>

A.	What is the average magnitude? Use mean() or summary():

In [12]:
mean(myQuakes$mag)

[1] 4.6204

B.	What is the magnitude of the smallest earthquake? Use min() or summary() and save the result in a variable called **minQuake**:

In [13]:
min(myQuakes$mag)

[1] 4

In [14]:
minQuake<-min(myQuakes$mag)

C.	What is the magnitude of the largest earthquake? Use max() or summary() and save the result in a variable called **maxQuake**:

In [15]:
max(myQuakes$mag)

[1] 6.4

In [23]:
maxQuake<-max(myQuakes$mag)

D.	Output the **fourth row** of the dataframe:

In [17]:
myQuakes[4,]

  lat    long   depth mag stations
4 -17.97 181.66 626   4.1 19

E. Create a new dataframe, with only the rows where the **magnitude is greater than 4**. How many rows are in that dataframe (report this number using code, do not count by looking at the output):

In [48]:
nrow(myQuakes[myQuakes$mag > 4,])

[1] 954

F.	Using the **arrange()** function, create a **sorted dataframe** based on magnitude and store it in **quakeSorted1**. Explain how this function works.

In [66]:
library(tidyverse)

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.4.0      ✔ purrr   1.0.1
✔ tibble  3.1.8      ✔ dplyr   1.0.10
✔ tidyr   1.3.0      ✔ stringr 1.4.1
✔ readr   2.1.3      ✔ forcats 0.5.2

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [67]:
quakeSorted1 <- myQuakes %>%
  arrange(mag)
glimpse(quakeSorted1)

Rows: 1,000
Columns: 5
$ lat      <dbl> -20.42, -19.68, -17.94, -23.55, -19.26, -22.06, -15.31, -17.7…
$ long     <dbl> 181.96, 184.31, 181.49, 180.80, 184.42, 180.60, 185.80, 181.7…
$ depth    <int> 649, 195, 537, 349, 223, 584, 152, 450, 375, 477, 582, 573, 4…
$ mag      <dbl> 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4…
$ stations <int> 11, 12, 15, 10, 15, 11, 11, 11, 18, 16, 14, 19, 12, 12, 10, 1…

G. Now create a second sorted dataframe called **quakeSorted2** using the **order()** function. Explain in a comment how the function works.

In [72]:
index<-order(myQuakes[,"mag"])
quakeSorted2<-myQuakes[index,]
quakeSorted2

     lat    long   depth mag stations
5    -20.42 181.96 649   4   11
6    -19.68 184.31 195   4   12
26   -17.94 181.49 537   4   15
34   -23.55 180.80 349   4   10
52   -19.26 184.42 223   4   15
58   -22.06 180.60 584   4   11
71   -15.31 185.80 152   4   11
85   -17.70 181.70 450   4   11
96   -19.73 182.40 375   4   18
113  -19.06 182.45 477   4   16
142  -20.65 181.40 582   4   14
150  -17.90 181.50 573   4   19
202  -17.70 182.20 445   4   12
236  -23.54 179.93 574   4   12
284  -17.70 185.00 383   4   10
298  -17.94 181.51 601   4   16
299  -30.64 181.20 175   4   16
362  -16.90 185.72 135   4   22
389  -10.72 165.99 195   4   14
433  -18.55 182.23 563   4   17
483  -22.70 183.30 180   4   13
533  -21.00 183.20 296   4   16
598  -17.02 182.93 406   4   17
637  -19.51 183.97 280   4   16
698  -15.43 185.19 249   4   11
722  -17.91 181.48 555   4   17
727  -17.10 182.80 390   4   14
733  -30.30 180.80 275   4   14
750  -25.60 180.30 440   4   12
770  -20.70 186.30  80   4   10
⋮    ⋮      ⋮      ⋮     ⋮   ⋮
531  -15.77 167.01  64   5.5  73
541  -15.90 167.42  40   5.5  86
663  -18.14 180.87 624   5.5 105
893  -13.80 166.53  42   5.5  70
948  -27.89 182.92  87   5.5  67
952  -35.94 178.52 138   5.5  78
167  -26.00 182.12 205   5.6  98
297  -24.57 178.40 562   5.6  80
570  -34.68 179.82  75   5.6  79
636  -18.82 182.21 417   5.6 129
649  -37.03 177.52 153   5.6  87
653  -11.40 166.07  93   5.6  94
712  -15.93 167.91 183   5.6 109
920  -17.85 181.44 589   5.6 115
935  -20.25 184.75 107   5.6 121
109  -22.55 185.90  42   5.7  76
151  -23.34 184.50  56   5.7 106
176  -32.22 180.20 216   5.7  90
275  -22.13 180.38 577   5.7 104
376  -15.33 186.75  48   5.7 123
399  -17.84 181.30 535   5.7 112
605  -19.89 174.46 546   5.7  99
869  -21.14 174.21  40   5.7  78
558  -22.91 183.95  64   5.9 118
753  -21.08 180.85 627   5.9 119
17   -13.64 165.96  50   6.0  83
870  -12.23 167.02 242   6.0 132
1000 -21.59 170.56 165   6.0 119
15   -20.70 169.92 139   6.1  94
152  -15.56 167.62 127   6.4 122

In [85]:
# find the index for magnitude in the myQuakes first, then reorder the magnitude from lowest to highest. "," means return the first colume of magnitude.

H. Print the top rows of each of the sorted dataframes using the **head()** function and explain in a comment what you see - did the two sorting functions produce a similar result?

In [88]:
head(quakeSorted1,5)

  lat    long   depth mag stations
1 -20.42 181.96 649   4   11
2 -19.68 184.31 195   4   12
3 -17.94 181.49 537   4   15
4 -23.55 180.80 349   4   10
5 -19.26 184.42 223   4   15

In [90]:
head(quakeSorted2,5)

   lat    long   depth mag stations
5  -20.42 181.96 649   4   11
6  -19.68 184.31 195   4   12
26 -17.94 181.49 537   4   15
34 -23.55 180.80 349   4   10
52 -19.26 184.42 223   4   15

I.	What are the latitude and longitude of the quake reported by the largest number of stations?

In [94]:
# latitude
myQuakes[which.max(myQuakes$stations),1]

[1] -12.23

In [95]:
#longitude
myQuakes[which.max(myQuakes$stations),2]

[1] 167.02

J.	What are the latitude and longitude of the quake with the smallest magnitude?

In [96]:
#latitude
myQuakes[which.min(myQuakes$stations),1]

[1] -21

In [97]:
#longitude
myQuakes[which.min(myQuakes$stations),2]

[1] 181.66

**Step 3:** Using conditional if statements <br>

A.	 Test if **maxQuake** is greater than 6 (output “yes” or “no”) <br>
**Hint:** Try modifying the following code in R:

In [116]:
if(maxQuake > 6){print("yes")}else{print("no")}

[1] "yes"

B.	 Following the same logic, test if **minQuake** is less than 3 (output “yes” or “no”):

In [115]:
if(minQuake<3) print("yes") else print("no")

[1] "no"